/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

hr{
    width: 50px;
    border-color: #0064FF;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    border:none;
}

/*
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}
 
button{
    background-color: #0064FF;
    color: white;
    height: 30px;
    width: 50px;
}
/*
     DEBUG
*/

.debug{
     border:2px dashed black;
}

a{
    text-decoration: none;
    color: #808080;

}


/* .debug header{
    border: 2px dashed lightcoral;
    background-color: white;
} */

/* 
  HEADER
*/

header.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/*
   HEADER NAV
*/

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 10px;
}
header .menu{
    display: flex;
    justify-content: flex-start;
}
header img{
    padding: 20px;
}

.menu , .menu-right{
    list-style-type: none;
}

.menu li , .menu-right li{
    display: inline-block;
    padding: 20px;
}

.menu li a , .menu.right li a:not(img){
    transition: all 1s ease;
}

.menu a:hover , .menu-right a:hover{
    color: #0064FF;
}


/*
   HEADER MAIN
*/

.header-main{
    background-color: #B4D0E7;
}
.main-wrapper1{
    max-width: 1000px;
    width: calc(100% / 3);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 20px;
}


.main-wrapper1 h1{
    font-size: 60px;
    text-align: left;
}

.card2-1 {
    width: 30%;
}



.card2-2{
    width: 70%;
}
   
