/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

.container{
    max-width: 1200px;
    margin:0 auto;
}

/*
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}
 
button{
    background-color: #0064FF;
    color: white;
    height: 30px;
    width: 50px;
}
/*
     DEBUG
*/

.debug{
     border:2px dashed black;
}

/* .debug header{
    border: 2px dashed lightcoral;
    background-color: white;
} */

/* 
  HEADER
*/
.header-nav {
    height: 60px;
    line-height: 20px;
}
header img{
width: 100px;
}
header span {
    padding: 20px;
}
 
/*
   HEADER NAV
*/

.header-nav .nav{
    padding:18px;
}
 .supporto{
    padding-left: 700px;
 }




/*
   HEADER BUTTON
*/



