/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

hr{
    width: 50px;
    border-color: #0064FF;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    border:none;
}

/*
    GENERAL
*/

body{
    font-family: 'Open Sans', sans-serif;
}
 
button{
    background-color: #0064FF;
    color: white;
    height: 30px;
    width: 50px;
}
/*
     DEBUG
*/

.debug{
     border:2px dashed black;
}

a{
    text-decoration: none;
    color: #808080;

}


/* .debug header{
    border: 2px dashed lightcoral;
    background-color: white;
} */

/* 
  HEADER
*/

/*NON RIESCO A FARLO FUNZIONARE DOMANI
DOMANDARE AI PROF 
position: -webkit-sticky;
position: sticky; */

header .navbar{
   
    width: 100%;
    padding: 30px;
    top: 0;
    background-color: white;
}

/*
   HEADER NAV
*/

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 10px;
}
header .menu{
    display: flex;
    justify-content: flex-start;
}
header img:not(.jumbo-screen){
    padding: 20px;
}

.menu , .menu-right{
    list-style-type: none;
}

.menu li , .menu-right li{
    display: inline-block;
    padding: 20px;
}

.menu li a , .menu.right li a:not(img){
    transition: all 1s ease;
}

.menu a:hover , .menu-right a:hover{
    color: #0064FF;
}


/*
   HEADER MAIN WRAPPER 1
*/

.header-main{
    background-color: #B4D0E7;
}
.main-wrapper1{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

.main-wrapper1 h1{
    font-size: 60px;
    text-align: left;
}

header .card-2{
    display: flex;
    padding-top: 30px;
    
}   

.card-2-item1{
    width: 30%;
}

.card-2-item2{
    width:70%;
}
.header-main button{
     width: 200px;
     height: 40px;
     margin:30px 0px;
}

/*
    MAIN WRAPPER 2
*/

main{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
    padding:40px 170px;
}

.main-wrapper2 h2{
    font-size: 40px;
    padding-top: 40px;
}

.input-fatturazione{
    padding: 50px;
}

label{
    display: inline-block;
    padding-right: 50px;
}

input .checked{
    background-color: #0064FF;
}

.main-wrapper3{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.info{
    display: flex;
    text-align: center;

}


.card1, .card2, .card3{
    width:calc((100% / 3) - 40px);
    border:1px solid grey;
    padding: 10px 0px;
    margin: 0px 20px;
    font-size: small;
}

.professional{
    height: 200px;
    display: flex;
    text-align: left;
    margin-top: 0px;
}

.main-wrapper3 .card1 , .card2 , .card3{
    padding: 15px;
}